
<form #f="ngForm">
  <div class="fa form-group">

    <input [(ngModel)] ="myTask" name="myTask" type="text" class="fa" placeholder="Enter Task" required />

  </div>

  <p *ngIf="loading">

    <i class="fa"></i>

  </p>

    <div class="form-group">
      <button class="btn" [disabled]="!f.valid"
              (click)="saveTask">
          Save Task
      </button>
    </div>

</form>

<tr *ngFor="let task of tasks | async; let i = index" [attr.data-index]="i">
  <td>
    <button class="btn" (click)="edit(task)">
      <i class="fa"></i>
      Edit Task
    </button>

    <button class="btn" (click)="deleteTask(task)">
      <i class="fa"></i>
      Delete Task
    </button>
  </td>
</tr>

