
/*
  Disclaimer:
  css code is pretty rough,
  refered to css from router application from ng-book

  links to other pages use a tags
  CSS class btn => bootstrap.... default in my application?
*/


h1, .h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 36px;
}

.data {
  box-sizing: content-box;
  display: block;
  border: 10px solid black;
  width: 200px;
  height: 100px;
  padding: 20px;
  background-color: orange;
}

bB {
  display:block;
}

.container {
  border: 2px solid black;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: slategrey;
  text-align: center;
}


.page-header {
  background-color: slategrey;
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 10px solid #eeeeee;
}

.padB {
  padding-bottom: 10px;
}
.padR {
  padding-right: 10px;
}

.low {
  padding-bottom: 10px;
  border-bottom: 10px solid #eeeeee;
}

.end {
  padding-bottom: 10px;
  border: 10px solid black;
}

.but {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

a {
  background-color: lightblue;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}



/*





.center {
  text-align: center;
  width: 50%;
}
*/

